#div1{
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;;
}
#div2{
    color:rgb(75, 27, 143);
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    padding-left: 25px;
    margin: 10px 10px 10px 10px;
}

#div3{
    color: black;
    background-color: bisque;
    height: 100px;
    width: 100px;
    border:2px solid black;
    border-radius: 20%;
    text-align: center;
    padding-top: 10px;
    margin:10px;
}